[Unit]
Description=Apache zookeeper 1
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket
[Service]
Type=forking
Environment=JAVA_HOME=/usr/local/java/latest
WorkingDirectory=/home/zookeeper1
PIDFile=/home/zookeeper1/current/data/1/zookeeper_server.pid
ExecStart=/home/zookeeper1/current/bin/zkServer.sh start zoo1.cfg
ExecStop=/home/zookeeper1/current/bin/zkServer.sh stop zoo1.cfg
User=zookeeper
Group=zookeeper
[Install]
WantedBy=multi-user.target
