[Unit]
Description=Apache zookeeper 3
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket
[Service]
Type=forking
Environment=JAVA_HOME=/etc/alternatives/jre_1.8.0
WorkingDirectory=/home/zookeeper
PIDFile=/home/zookeeper3/current/data/3/zookeeper_server.pid
ExecStart=/home/zookeeper3/current/bin/zkServer.sh start zoo3.cfg
ExecStop=/home/zookeeper3/current/bin/zkServer.sh stop zoo3.cfg
User=zookeeper
Group=zookeeper
[Install]
WantedBy=multi-user.target
